  
  /* General CSS */
  body {
    padding: 1% 5% 1% 5%;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 300px;
  }
  h4{
    font-size:20px;
    text-align:left;
    font-weight:bold;
  }
  h6{
    line-height:1.6;
  }
  
  /* Navigation Bar / Header */
  .nav-link {
    color: rgb(189, 189, 189);
    font-size: 20px;
    font-weight: 400px;
  }

  .nav-item a:hover {
    color: rgb(117, 117, 117);
  }

  .active {
    color: rgb(117, 117, 117);
  }

  .linked {
    color: rgb(81, 202, 239);
    text-decoration: none;
  }

  .linked:hover {
    color: rgb(37, 162, 187);
    text-decoration: none;
  }


  /* Project Page */
  .shortintro {
    margin: 4% 15% 4% 15%;
  }

  .cards {
    width: 100%;
    height: auto;
    padding:0px 0px 30px 0px;
    position:relative;
  }

  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #8A82DB;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#20B2A8;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#73B220;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#60BCFF;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#544EA1;
    border-radius:15px;
    margin-bottom:30px;
  }

  .card1:hover .overlay1 {
    opacity: 1;
  }

  .card2:hover .overlay2 {
    opacity: 1;
  }

  .card3:hover .overlay3 {
    opacity: 1;
  }

  .card4:hover .overlay4 {
    opacity: 1;
  }

  .card5:hover .overlay5 {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .back{
    color: black;
    text-decoration: none;
    display:inline-block;
    vertical-align:top;
    font-size:20px;
  }

  .back:hover {
    color: black;
    text-decoration: none;
  }

  .backarrow{
    height:24px;
    width:auto;
    float:left;
  }

  .mark{
    background-color:rgba(81, 202, 239,.4);
  }

  hr{
    color:black;
    background-color:black; 
    border-width:1px;
  }

  .screenshots{
    width: 70%;
    height: auto;
    position:relative;
    border: 5px solid black;
  }

  .writeup{
    width:70%;
    display:relative;
  }

  .carri{
    width: 70%;
    height: auto;
    margin: 0 auto;
    border: 5px solid black;
  }

  .headshot{
    width: 70%;
    height: auto;
    position:relative;
    border-radius:20px;
  }

  .overlay6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#B1C9EB;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card6:hover .overlay6 {
    opacity: 1;
  }

  .overlay7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#DDD9FA;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card7:hover .overlay7 {
    opacity: 1;
  }

  .overlay8 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#93D1CC;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card8:hover .overlay8 {
    opacity: 1;
  }

  .cards1 {
    width: 80%;
    height: auto;
    padding:0px 0px 30px 0px;
    position:relative;
  }

  iframe{
    height:300px;
    width:70%;
    display:block;
    margin: 0 auto;
  }

  .logo{
    width:40%;
    height: auto;
    position:relative;
    border: 5px solid black;
  }