  
  /* General CSS */
  body {
    padding: 1% 5% 1% 5%;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 300px;
  }
  h4{
    font-size:22px;
    text-align:left;
    font-weight:bold;
  }
  h5{
    font-size:18px;
  }
  h6{
    line-height:1.6;
    font-size:15px;
  }

  .shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    left: 6.5%;
  }
  
  .image-stack__item--bottom {
    grid-column: 5 / -1;
    grid-row: 1;
    padding-top: 20%;
  }
  
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    z-index: 1;
  }
  
  .overlap {
    width: 80%;
    display: block;
  }

  iframe{
    border: none;
  }
  
  /* Navigation Bar / Header */
  .nav-link {
    color: rgb(189, 189, 189);
    font-size: 16px;
    font-weight: 400px;
  }

  .nav-item a:hover {
    color: rgb(117, 117, 117);
  }

  .active {
    color: rgb(117, 117, 117);
  }

  .linked {
    color: rgb(81, 202, 239);
    text-decoration: none;
  }

  .linked:hover {
    color: rgb(37, 162, 187);
    text-decoration: none;
  }

  .bignav{
    font-weight: bold;
    font-size: 17px;
  }

  .navbar{
    padding:2% 15% 1% 15%;
  }


  /* Project Page */
 .toppic{
  text-align:center;
  width:100%;
  position: relative;
 }

  .statement{
  font-size: 18px;
  text-align: center;
 }

  .shortintro {
    margin: 4% 15% 4% 15%;
  }

  .cardd{
    border-radius:15px;
  }

  .cards {
    width: 70%;
    height: auto;
    padding:0px 0px 30px 0px;
    position:relative;
    border-radius:15px;
  }

  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #8A82DB;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#20B2A8;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#73B220;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#544EA1;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay9 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#a0aff7;
    border-radius:15px;
    margin-bottom:30px;
  }

  .overlay11 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#5DE1E1;
    border-radius:15px;
    margin-bottom:30px;
  }

  .card1:hover .overlay1 {
    opacity: 1;
  }

  .card2:hover .overlay2 {
    opacity: 1;
  }

  .card3:hover .overlay3 {
    opacity: 1;
  }

  .card5:hover .overlay5 {
    opacity: 1;
  }

  .card9:hover .overlay9 {
    opacity: 1;
  }

  .card11:hover .overlay11 {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .back{
    color: black;
    text-decoration: none;
    display:inline-block;
    vertical-align:top;
    font-size:20px;
  }

  .back:hover {
    color: black;
    text-decoration: none;
  }

  .backer{
    padding:0% 15% 2% 15%;
  }

  .backarrow{
    height:20px;
    width:auto;
    float:left;
  }

  .mark{
    background-color:rgba(81, 202, 239,.4);
  }

  hr{
    color:black;
    background-color:black; 
    border-width:1px;
  }

  .screenshots{
    width: 70%;
    height: auto;
    position:relative;
  }

  .screenshots1{
    width: 80%;
    height: auto;
    position:relative;
  }

  .screenshots2{
    width: 100%;
    height: auto;
    position:relative;
  }

  .screenshots3{
    width: 50%;
    height: auto;
    position:relative;
  }

  .resume{
    width:100%;
    height:auto;
    position: relative;
  }

  .writeup{
    width:70%;
    display:relative;
  }

  .carri{
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .carri2{
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .carri3{
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .headshot{
    width: 70%;
    height: auto;
    position:relative;
    border-radius:20px;
  }

  .overlay6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#B1C9EB;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card6:hover .overlay6 {
    opacity: 1;
  }

  .overlay7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#DDD9FA;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card7:hover .overlay7 {
    opacity: 1;
  }

  .overlay8 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#93D1CC;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card8:hover .overlay8 {
    opacity: 1;
  }

  .overlay12 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#E2AAF1;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card12:hover .overlay12 {
    opacity: 1;
  }

  .overlay13{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#9ce57d;
    border-radius:25px;
    margin-bottom:30px;
  }

  .card13:hover .overlay13 {
    opacity: 1;
  }

  .cards1 {
    width: 80%;
    height: auto;
    padding:0px 0px 30px 0px;
    position:relative;
  }

  iframe{
    height:300px;
    width:70%;
    display:block;
    margin: 0 auto;
  }

  .logo{
    width:30%;
    height: auto;
    position:relative;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }